.score-levels {
	.score-level {
		margin: 0 auto;
		
		display: flex;
		justify-content: center;
		align-items: center;
		
		width: 200px;
		height: 45px;
		padding: 5px;
		
		text-align: center;
		font-weight: 500;
		color: #707070;
		line-height: 1.2;
		
		animation-duration: 2s;
		animation-iteration-count: 1;
		animation-direction: reverse;
		animation-fill-mode: both;
		
		&.level-1 {
			animation-name: level-1-highlight;
			background-color: rgba(232,76,25,0.4);
		}
		&.level-2 {
			animation-name: level-2-highlight;
			background-color: rgba(226,222,9,0.4);
		}
		&.level-3 {
			animation-name: level-3-highlight;
			background-color: rgba(140,190,33,0.4);
		}
		
		&.level-active {
			width: 250px;
			height: 55px;
			box-shadow: 0px 0px 4px 0px rgba(1, 1, 1, 0.5);
			font-weight: 700;
			color: #222222;
			border-radius: 0.4em;
			animation-direction: normal;
		}
		
	}
}

@keyframes level-1-highlight {
	from {
		background-color: rgba(232,76,25,0.4);
	}
	to {
		background-color: rgba(232,76,25,1);
	}
}

@keyframes level-2-highlight {
	from {
		background-color: rgba(226,222,9,0.4);
	}
	to {
		background-color: rgba(226,222,9,1);
	}
}

@keyframes level-3-highlight {
	from {
		background-color: rgba(140,190,33,0.4);
	}
	to {
		background-color: rgba(140,190,33,1);
	}
}
