.score-level-intro {
	font-weight: 500;
}

.score-levels {
	.score-level {
		margin: 0 auto;
		
		display: flex;
		justify-content: center;
		align-items: center;
		
		width: 200px;
		height: 45px;
		padding: 5px;
		
		text-align: center;
		font-weight: 500;
		color: #505050;
		line-height: 1.2;
		
		&.level-1 {
			background-color: #e84c19;
		}
		&.level-2 {
			background-color: #e2de09;
		}
		&.level-3 {
			background-color: #8cbe21;
		}
		
		&.level-active {
			width: 250px;
			height: 55px;
			box-shadow: 0px 0px 4px 0px rgba(1, 1, 1, 0.5);
			font-weight: 700;
			color: #222222;
		}
	}
}
