<h2 class="text-center mb-4">{{ "SCORE_VIEWER.THANKS" | translate }}</h2>

<p *ngIf="scoreValid" class="score-level-intro text-center">{{ "SCORE_VIEWER.SCORE" | translate }}</p>

<div class="score-levels my-4" *ngIf="scoreValid">
	<div class="score-level level-3" [ngClass]="{ 'level-active': (score >= 10) }">{{ "SCORE_VIEWER.LEVEL.VERY_GOOD" | translate }}</div>
	<div class="score-level level-2" [ngClass]="{ 'level-active': (score >= 6 && score < 10) }">{{ "SCORE_VIEWER.LEVEL.GOOD" | translate }}</div>
	<div class="score-level level-1" [ngClass]="{ 'level-active': (score < 6) }">{{ "SCORE_VIEWER.LEVEL.LOW" | translate }}</div>
</div>

<h5 *ngIf="scoreValid" class="score-level-cta my-4 text-center">{{ "SCORE_VIEWER.TEXT" | translate }}</h5>

<p>{{ "SCORE_VIEWER.SOLUTIONS.TITLE" | translate }}</p>

<p>{{ "SCORE_VIEWER.SOLUTIONS.Q_COST" | translate }}</p>

<hr>

<p [innerHtml]="'SCORE_VIEWER.SOLUTIONS.Q_DEATHS' | translate:{ eurostatLink: 'http://appsso.eurostat.ec.europa.eu/nui/show.do?dataset=tran_sf_roadve&lang=en', eeaLink: 'http://www.eea.europa.eu/media/newsreleases/many-europeans-still-exposed-to-air-pollution-2015/premature-deaths-attributable-to-air-pollution' }"></p>

<p [innerHtml]="'SCORE_VIEWER.SOLUTIONS.Q_DEATHS_MORE' | translate:{ eeaLink: 'http://www.eea.europa.eu/media/newsreleases/many-europeans-still-exposed-to-air-pollution-2015/premature-deaths-attributable-to-air-pollution' }"></p>

<hr>

<p [innerHtml]="'SCORE_VIEWER.SOLUTIONS.Q_ACTIVITY' | translate:{ whoLink: 'http://www.who.int/dietphysicalactivity/factsheet_adults/en/' }"></p>

<p>{{ "SCORE_VIEWER.SOLUTIONS.Q_ACTIVITY_MORE" | translate }}</p>

<!--
<p class="app-cta">{{ "SCORE_VIEWER.CTA" | translate }}</p>

<p [innerHtml]="'SCORE_VIEWER.CTA_MORE' | translate"></p>

<p class="app-cta-store" [innerHtml]="'SCORE_VIEWER.APP_STORE' | translate"></p>
-->
