<h2 class="text-center mb-4">{{ "SCORE_VIEWER.THANKS" | translate }}</h2>

<p *ngIf="scoreValid.precovid || scoreValid.postcovid" class="score-level-intro text-center">{{ "SCORE_VIEWER.SCORE" | translate }}</p>

<div class="row" *ngIf="scoreValid.precovid || scoreValid.postcovid">
	<div class="col" *ngIf="scoreValid.precovid" [ngClass]="{ 'col-md-6': scoreValid.postcovid }">
		<app-score-levels [score]="score.precovid"></app-score-levels>
	</div>
	<div class="col" *ngIf="scoreValid.postcovid" [ngClass]="{ 'col-md-6': scoreValid.precovid }">
		<app-score-levels [score]="score.postcovid"></app-score-levels>
	</div>
</div>

<h5 *ngIf="scoreValid.precovid || scoreValid.postcovid" class="score-level-cta my-4 text-center">{{ "SCORE_VIEWER.TEXT" | translate }}</h5>

<!--
<hr>

<p class="app-cta">{{ "SCORE_VIEWER.CTA" | translate }}</p>

<p [innerHtml]="'SCORE_VIEWER.CTA_MORE' | translate"></p>

<p class="app-cta-store" [innerHtml]="'SCORE_VIEWER.APP_STORE' | translate"></p>

<hr>
-->


<p>{{ "SCORE_VIEWER.SOLUTIONS.TITLE" | translate }}</p>

<h6 *ngIf="source == 'si'">STROŠKI LASTNIŠTVA AVTOMOBILA</h6>

<p>{{ "SCORE_VIEWER.SOLUTIONS.Q_COST" | translate }}</p>

<hr>

<h6 *ngIf="source == 'si'">VZROK ZA NAJVEČ SMRTNIH PRIMEROV V EU</h6>

<p [innerHtml]="'SCORE_VIEWER.SOLUTIONS.Q_DEATHS' | translate:{ eurostatLink: 'http://appsso.eurostat.ec.europa.eu/nui/show.do?dataset=tran_sf_roadve&lang=en', eeaLink: 'http://www.eea.europa.eu/media/newsreleases/many-europeans-still-exposed-to-air-pollution-2015/premature-deaths-attributable-to-air-pollution' }"></p>

<p [innerHtml]="'SCORE_VIEWER.SOLUTIONS.Q_DEATHS_MORE' | translate:{ eeaLink: 'http://www.eea.europa.eu/media/newsreleases/many-europeans-still-exposed-to-air-pollution-2015/premature-deaths-attributable-to-air-pollution' }"></p>

<hr>

<h6 *ngIf="source == 'si'">PRIPOROČENA TELESNA AKTIVNOST</h6>

<p [innerHtml]="'SCORE_VIEWER.SOLUTIONS.Q_ACTIVITY' | translate:{ whoLink: 'http://www.who.int/dietphysicalactivity/factsheet_adults/en/' }"></p>

<p>{{ "SCORE_VIEWER.SOLUTIONS.Q_ACTIVITY_MORE" | translate }}</p>
