<h1>{{ "SCORE_VIEWER.THANKS" | translate }}</h1>

<p>{{ "SCORE_VIEWER.SCORE" | translate }}</p>

<p class="score">{{ score | number:'1.1-1' }}</p>

<p>{{ "SCORE_VIEWER.TEXT" | translate }}</p>

<p>{{ "SCORE_VIEWER.SOLUTIONS.TITLE" | translate }}</p>

<p>{{ "SCORE_VIEWER.SOLUTIONS.Q_COST" | translate }}</p>

<hr>

<p [innerHtml]="'SCORE_VIEWER.SOLUTIONS.Q_DEATHS' | translate:{ eurostatLink: 'http://appsso.eurostat.ec.europa.eu/nui/show.do?dataset=tran_sf_roadve&lang=en', eeaLink: 'http://www.eea.europa.eu/media/newsreleases/many-europeans-still-exposed-to-air-pollution-2015/premature-deaths-attributable-to-air-pollution' }"></p>

<p [innerHtml]="'SCORE_VIEWER.SOLUTIONS.Q_DEATHS_MORE' | translate:{ eeaLink: 'http://www.eea.europa.eu/media/newsreleases/many-europeans-still-exposed-to-air-pollution-2015/premature-deaths-attributable-to-air-pollution' }"></p>

<hr>

<p [innerHtml]="'SCORE_VIEWER.SOLUTIONS.Q_ACTIVITY' | translate:{ whoLink: 'http://www.who.int/dietphysicalactivity/factsheet_adults/en/' }"></p>

<p>{{ "SCORE_VIEWER.SOLUTIONS.Q_ACTIVITY_MORE" | translate }}</p>

<!--
<p class="app-cta">{{ "SCORE_VIEWER.CTA" | translate }}</p>

<p [innerHtml]="'SCORE_VIEWER.CTA_MORE' | translate"></p>

<p class="app-cta-store" [innerHtml]="'SCORE_VIEWER.APP_STORE' | translate"></p>
-->
