.levels-heading {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: center;
}

.covid-break {
	align-items: center;
	justify-items: center;
	
	img {
		max-width: 100%;
	}
}

.score-level-intro {
	font-weight: 500;
}

.app-cta {
	text-align: center;
	font-size: 1.4em;
	font-weight: 600;
}

.app-cta-store {
	text-align: center;
	font-size: 1.1em;
}

.button-play-store {
	text-align: center;
	
	img {
		width: 150px;
		margin: 0;
	}
}

.button-app-store {
	text-align: center;
	
	img {
		width: 133px;
		margin: 9px;
	}
}
