<div class="container mt-5" *ngIf="status == SurveyStatus.LOADING">
	<div class="row mt-5">
		<div class="col text-center">
			<div class="loader rounded-circle bg-white my-3">
				<img src="assets/img/loader.gif">
				<p><em>loading&hellip;</em></p>
			</div>
		</div>
	</div>
</div>

<div class="container" *ngIf="status == SurveyStatus.ERROR">
	<div class="alert alert-danger">Sorry, an error occurred. Please <a href="https://www.alpine-space.eu/projects/melinda/en/contact">contact us</a>. Thank you.</div>
</div>

<div *ngIf="status == SurveyStatus.READY">
	<app-survey-intro (privacyAcceptance)="onPrivacyAcceptance($event)"></app-survey-intro>
</div>

<div class="container" [hidden]="status != SurveyStatus.DOING">
	<div class="highlighted-panel">
		<div class="row">
			<div class="col">
				<div id="surveyElement"></div>
			</div>
		</div>
	</div>
</div>

<div class="container" *ngIf="status == SurveyStatus.DONE" id="result">
	<div class="highlighted-panel p-4">
		<div class="row">
			<div class="col">
				<div *ngIf="surveyError; else success" class="alert alert-danger">Sorry, an error occurred. Please click the button below if you want to retry the survey. Otherwise please <a href="https://www.alpine-space.eu/projects/melinda/en/contact">contact us</a>. Thank you.</div>
		
				<ng-template #success>
					<div *ngIf="!ignoreResponse; else responseIgnored">
						<app-score-viewer *ngIf="score != null; else noScore" [score]="score"></app-score-viewer>
						
						<ng-template #noScore>
							<h1>Thank you for having taken part to the survey!</h1>
						</ng-template>
					</div>
					<ng-template #responseIgnored>
						<h1>Thank you for having taken part to the survey!</h1>
					</ng-template>
				</ng-template>
			</div>
		</div>
	</div>
</div>

<div class="dev-tools" *ngIf="isDevMode()" class="mt-5">
	<div class="container">
		<div class="row">
			<div class="col">
				Automatic mapping bulder: 
				<select [(ngModel)]="devAutoMapRegion">
					<option value="it">Italian pilot</option>
					<option value="de">German pilot</option>
					<option value="fr">French pilot</option>
					<option value="ch">Swiss pilot</option>
					<option value="at">Austrian pilot</option>
					<option value="si">Slovenian pilot</option>
				</select>
				<button class="btn btn-secondary btn-sm" (click)="autoMap()">Automap!</button>
			</div>
		</div>
	</div>
</div>
