<div class="container mt-4">
	<div class="row">
		<div class="col">
			<div class="highlighted-panel p-4">
				<div class="row">
					<div class="col" [ngSwitch]="translate.currentLang">
						<ng-container *ngSwitchCase="'it'">
						<h5>INFORMAZIONI SULL'UTILIZZO DEI DATI INERENTI AL Progetto
							MELINDA - Mobility Ecosystem for Low-carbon and INnovative moDal
							shift in the Alps</h5>

						<p>Gentile utente, ai sensi dell'art. 13 del Regolamento UE
							2016/679 – cd. GDPR, la informiamo su come tratteremo i suoi dati
							personali.</p>

						<p>Il trattamento dei suoi dati personali sar&agrave;
							improntato ai principi di correttezza, liceit&agrave; e
							trasparenza e di tutela della tua riservatezza e dei tuoi diritti
							e potr&agrave; essere svolto in via manuale o in via elettronica
							o comunque con l'ausilio di strumenti informatizzati o
							automatizzati. Potr&agrave; consistere in qualsiasi operazione
							compiuta con o senza l'ausilio di processi automatizzati come la
							raccolta, la registrazione, l'organizzazione, la strutturazione,
							la conservazione, l'elaborazione, la selezione, il blocco,
							l'adattamento o la modifica, l'estrazione, la consultazione,
							l'uso, la comunicazione mediante trasmissione, la diffusione o
							qualsiasi altra forma di messa a disposizione, il raffronto o
							l'interconnessione, la limitazione, la cancellazione o la
							distruzione.</p>

						<h6>Chi &egrave; il Titolare del trattamento dei suoi dati?</h6>

						<p>
							Il Titolare del trattamento, cio&egrave; l'organismo che
							determina come e perch&eacute; i suoi dati siano trattati,
							&egrave; l'Universit&agrave; degli Studi di Milano-Bicocca, con
							sede in Piazza dell'Ateneo Nuovo 1, 20126 Milano, nella persona
							della Rettrice prof.ssa Giovanna Iannantuoni, suo Legale
							Rappresentante, (d'ora in avanti: Titolare). Pu&ograve;
							rivolgersi al Titolare scrivendo all'indirizzo fisico sopra
							riportato o inviando una e-mail a <a
								href="mailto:rettorato@unimib.it">rettorato@unimib.it</a> oppure
							una PEC a <a href="mailto:ateneo.bicocca@pec.unimib.it">ateneo.bicocca@pec.unimib.it</a>.
						</p>

						<h6>Chi &egrave; il Responsabile della protezione dei suoi
							dati?</h6>

						<p>
							Chi &egrave; il Responsabile della protezione dei suoi dati?
							Presso l'Ateneo Bicocca &egrave; presente il responsabile della
							protezione dati (d'ora in avanti, RPD) a cui potersi rivolgere
							per tutte le questioni relative al trattamento dei suoi dati
							personali e per l'esercizio dei suoi diritti derivanti dal GDPR.
							Il RPD &egrave; la dott.ssa Maria Bramanti, che pu&ograve; essere
							contattata all'indirizzo di posta elettronica <a
								href="mailto:rpd@unimib.it">rpd@unimib.it</a> alla PEC <a
								href="mailto:rpd@pec.unimib.it">rpd@pec.unimib.it</a>.
						</p>

						<h6>Perch&eacute; trattiamo I suoi dati?</h6>
						<p>In conformit&agrave; con l'articolo 6, paragrafo 1 del GDPR
							I suoi dati personali sono trattati in maniera tale da permettere
							alle strutture/dipartimenti universitari interessati possano
							attuare tutte le loro competenze. Pi&ugrave; specificatamente
							l'universit&agrave; tratter&agrave; I suoi dati per:</p>
						<ul>
							<li>Motivi di ricerca, in maniera da comprendere meglio le
								scelte di mobilit&agrave; relative ai comportamenti di viaggio,
								preferenze, consapevolezza ambientale degli individui e, per
								ragioni di classificazione statistica, alcune informazioni
								socio-demografiche di base (et&agrave;, genere, istruzione,
								occupazione, citt&agrave; di residenza o codice postale e
								dimensione del nucleo famigliare).</li>
						</ul>

						<p>Il Titolare tratter&agrave; il suo indirizzo e-mail, a
							seguito del suo consenso, solo per motivi di comunicazione
							riguardo lo sviluppo e progressi delle attivit&agrave; del
							progetto Melinda.</p>

						<h6>A chi possiamo comunicare i suoi dati?</h6>

						<p>I suoi dati sono trattati dai soggetti afferenti alle
							strutture dell'Ateneo autorizzati dal Titolare al trattamento, in
							relazione alle loro funzioni e competenze. Inoltre, il Titolare
							potr&agrave; comunicare i suoi dati personali all'esterno ai
							seguenti soggetti terzi, perch&eacute; la loro attivit&agrave;
							&egrave; necessaria al conseguimento delle finalit&agrave; sopra
							indicate, anche rispetto alle funzioni loro attribuite dalla
							legge:</p>
						<ul>
							<li>Insiel s.p.a. (Leader Partner of the Project)</li>
							<li>e-Institute, institute for comprehensive development
								solutions</li>
							<li>Municipality of Maribor</li>
							<li>University of Maribor</li>
							<li>B.A.U.M. Consult GmbH München</li>
							<li>Auvergne Rhône-Alpes Energy Environment Agency</li>
							<li>Lucerne University of Applied Sciences and Arts</li>
							<li>Vorarlberg University of Applied Sciences</li>
							<li>University of Milano-Bicocca</li>
							<li>AustriaTech Ltd. - Federal Agency for Technological
								Measures</li>
							<li>Inter-municipalities Territorial Union of Noncello</li>
							<li>Energie Agentur Ebersberg München gGmbH</li>
						</ul>

						<p>I suoi dati non saranno trasferiti verso paesi esterni
							all'UE o ad organizzazioni internazionali. Nel caso che questo si
							rivelasse necessario, le sar&agrave; notificato con una
							comunicazione specifica. Nel caso sia previsto il trasferimento
							in territori extra-UE o ad organizzazioni internazionali, in
							primo luogo le sar&agrave; fornita un'informativa specifica e,
							nel caso in cui per il Paese di destinazione non sia stata
							emanata una decisione di adeguatezza, oppure non siano
							disponibili adeguate garanzie di protezione, e/o l'indicazione
							dei mezzi per ottenere una copia dei suoi dati o del luogo dove
							sono stati resi disponibili, le verr&agrave; richiesto il
							consenso per procedere con il trasferimento.</p>

						<h6>&Egrave; obbligato a comunicarci i suoi dati?</h6>

						<p>S&igrave;, perch&eacute; in caso di rifiuto,
							l'Universit&agrave; non potr&agrave; procedere nelle specifiche
							attivit&agrave; e assolvere le richieste avanzate. Tuttavia la
							dichiarazione formale di consenso al trattamento dei dati
							&egrave; richiesto sono per il trattamento dell'indirizzo e-mail.</p>

						<h6>Per quanto tempo verranno conservati i suoi dati?</h6>
						<p>I suoi dati personali saranno conservati nei database del
							Titolare dei dati per 3 anni. I log di autenticazione, ove
							presenti, verranno cancellati dopo 180 giorni.</p>

						<h6>Quali sono i suoi diritti e come pu&ograve; esercitarli?</h6>

						<p>Ha il diritto di:</p>
						<ul>
							<li>accedere ai suoi dati personali;</li>
							<li>ottenere la rettifica o la cancellazione dei dati o la
								limitazione del relativo trattamento;</li>
							<li>se i dati sono in formato elettronico, richiederne la
								portabilit&agrave;;</li>
							<li>opporsi al trattamento;</li>
							<li>proporre reclamo all'autorit&agrave; di controllo.</li>
						</ul>

						<p>Pu&ograve; far valere i suoi diritti rivolgendosi al
							Titolare e/o al RPD; il Titolare &egrave; tenuto a rispondere
							entro 30 giorni dalla data di ricezione della richiesta, (termine
							che pu&ograve; essere esteso fino a 90 giorni nel caso di
							particolare complessit&agrave; dell'istanza). Nel caso lei
							ritenga che il trattamento dei dati che la riguardano non sia
							conforme alle disposizioni vigenti ovvero se la risposta ad
							un'istanza con cui ha esercitato uno o pi&ugrave; dei diritti
							previsti dagli articoli 15-22 del GDPR non pervenga nei tempi
							indicati o non sia soddisfacente, pu&ograve; rivolgersi
							all'autorit&agrave; giudiziaria o al Garante per la protezione
							dei dati personali.</p>

						<h6>Sar&agrave; sottoposto a processi decisionali
							automatizzati?</h6>

						<p>No, non sar&agrave; sottoposto ad alcuna decisione basata
							unicamente su trattamenti automatizzati (compresa la
							profilazione), a meno che lei non abbia per questo prestato
							esplicitamente il proprio consenso.</p>

						<h6>I suoi dati sono al sicuro?</h6>

						<p>I suoi dati sono trattati in maniera lecita e corretta,
							adottando le opportune misure di sicurezza volte ad impedire
							accessi non autorizzati, divulgazione, modifica o distruzione non
							autorizzata degli stessi.</p>

						<p class="text-muted">
							<small>La presente informativa &egrave; aggiornata al
								01/11/19</small>
						</p>


						</ng-container>

						<ng-container *ngSwitchCase="'fr'">
						<h5>INFORMATION sur le traitement des donn&eacute;es
							relatives au projet MELINDA - Mobility Ecosystem for Low-carbon
							and INnovative moDal shift in the Alps</h5>

						<p>
							Cher utilisateur,<br> Conform&eacute;ment &agrave; l'article
							13 du R&egrave;glement europ&eacute;en 2016/679, &eacute;galement
							connu sous le nom de RGPD, veuillez trouver ci apr&egrave;s les
							informations sur la mani&egrave;re dont seront trait&eacute;es
							vos donn&eacute;es personnelles.
						</p>

						<p>Vos donn&eacute;es personnelles seront trait&eacute;es
							conform&eacute;ment aux principes de la propri&eacute;t&eacute;,
							de la l&eacute;galit&eacute;, de la transparence et de la
							protection de la vie priv&eacute;e et de vos droits. Elles
							pourront l'être manuellement ou &eacute;lectroniquement ou
							&agrave; l'aide de moyens informatiques ou automatis&eacute;s. Le
							traitement des donn&eacute;es peut consister en toute
							op&eacute;ration effectu&eacute;e avec ou sans l'utilisation de
							proc&eacute;d&eacute;s automatis&eacute;s, y compris la collecte,
							l'enregistrement, l'organisation, la structuration, le stockage,
							l'&eacute;laboration, la s&eacute;lection, le blocage,
							l'adaptation, la modification, l'extraction, la consultation,
							l'utilisation, la communication par transmission, diffusion ou
							tout autre moyen de mise &agrave; disposition, comparaison,
							interconnexion, restriction, annulation ou destruction desdites
							donn&eacute;es.</p>

						<h6>Qui est le Responsable du traitement des donn&eacute;es ?</h6>
						<p>
							Le Responsable du traitement des donn&eacute;es-
							c'est-&agrave;-dire l'organisme qui d&eacute;termine comment et
							pourquoi vos donn&eacute;es sont trait&eacute;es - est
							l'Universit&eacute; de Milano-Bicocca, situ&eacute;e Piazza
							dell'Ateneo Nuovo 1, 20126 Milan, repr&eacute;sent&eacute;e par
							son repr&eacute;sentant l&eacute;gal Giovanna Iannantuoni
							(ci-apr&egrave;s le "Responsable"). Vous pouvez contacter le
							Responsable en &eacute;crivant &agrave; l'adresse indiqu&eacute;e
							ci-dessus ou en envoyant un courrier &eacute;lectronique &agrave;
							<a href="mailto:rettorato@unimib.it">rettorato@unimib.it</a> ou
							&agrave; l'adresse &eacute;lectronique certifi&eacute;e <a
								href="mailto:ateneo.bicocca@pec.unimib.it">ateneo.bicocca@pec.unimib.it</a>.
						</p>

						<h6>Qui est le D&eacute;l&eacute;gu&eacute; &agrave; la
							protection des donn&eacute;es ?</h6>

						<p>
							L'Universit&eacute; de Milano-Bicocca a nomm&eacute; un
							D&eacute;l&eacute;gu&eacute; &agrave; la protection des
							donn&eacute;es qui peut être contact&eacute; pour toute question
							relative au traitement des donn&eacute;es &agrave;
							caract&egrave;re personnel et pour exercer tous les droits
							d&eacute;coulant du RGPD. Le D&eacute;l&eacute;gu&eacute;
							&agrave; la protection des donn&eacute;es est Mme Maria Bramanti,
							qui peut être contact&eacute;e &agrave; l'adresse <a
								href="mailto:rpd@unimib.it">rpd@unimib.it</a> ou &agrave;
							l'adresse &eacute;lectronique certifi&eacute;e <a
								href="mailto:rpd@pec.unimib.it">rpd@pec.unimib.it</a>.
						</p>

						<h6>Pourquoi traitons-nous vos donn&eacute;es ?</h6>

						<p>Conform&eacute;ment &agrave; l'article 6, paragraphe 1, du
							RGPD, vos donn&eacute;es personnelles sont trait&eacute;es de
							mani&egrave;re &agrave; ce que le(s) d&eacute;partement(s)
							universitaire(s) concern&eacute;(s) puisse(nt) remplir toutes les
							missions qui lui sont attribu&eacute;es. Plus
							pr&eacute;cis&eacute;ment, l'universit&eacute; traitera vos
							donn&eacute;es:</p>
						<ul>
							<li>A des fins de recherche pour mieux comprendre les choix
								de mobilit&eacute; des personnes en mati&egrave;re d'habitudes
								de d&eacute;placement, de pr&eacute;f&eacute;rences, de
								sensibilisation &agrave; l'environnement et, &agrave; des fins
								de classification statistique, certaines informations
								sociod&eacute;mographiques de base (âge, sexe, &eacute;ducation,
								profession, ville de r&eacute;sidence ou code postal et taille
								du m&eacute;nage).</li>
						</ul>

						<p>Le Responsable utilisera l'adresse e-mail, avec votre
							consentement, uniquement &agrave; des fins de communication sur
							le d&eacute;veloppement du projet Melinda et ses
							activit&eacute;s.</p>

						<h6>A qui pouvons-nous communiquer vos donn&eacute;es ?</h6>

						<p>Vos donn&eacute;es sont trait&eacute;es par du personnel
							appartenant aux d&eacute;partements de l'universit&eacute; et
							autoris&eacute; par le Responsable, en fonction de leurs
							fonctions et comp&eacute;tences. En outre, le Responsable du
							traitement des donn&eacute;es peut communiquer vos donn&eacute;es
							personnelles aux tiers externes suivants, car leurs
							activit&eacute;s sont indispensables &agrave; l'atteinte des
							finalit&eacute;s susmentionn&eacute;es, y compris en ce qui
							concerne les fonctions qui leur sont attribu&eacute;es par la
							loi:</p>

						<ul>
							<li>Insiel s.p.a. (Chef de file du projet)</li>
							<li>e-Institut, institut pour des solutions globales de
								d&eacute;veloppement</li>
							<li>Municipalit&eacute; de Maribor</li>
							<li>Universit&eacute; de Maribor</li>
							<li>B.A.U.M. Consult GmbH Munich</li>
							<li>Auvergne Rhône-Alpes Energie-Environnement, agence
								r&eacute;gionale de l'&eacute;nergie et de l'environnement</li>
							<li>Universit&eacute; de Lucerne</li>
							<li>Universit&eacute; du Vorarlberg</li>
							<li>Universit&eacute; de Milano-Bicocca</li>
							<li>AustriaTech Ltd. - Agence f&eacute;d&eacute;rale
								autrichienne pour les mesures technologiques</li>
							<li>Union Territoriale des miunicipalit&eacute;s de Noncello</li>
							<li>Energie Agentur Ebersberg München gGmbH</li>
						</ul>

						<p>Vos donn&eacute;es ne seront pas transf&eacute;r&eacute;es
							&agrave; des pays en dehors de l'UE ou &agrave; des organisations
							internationales. Dans l'&eacute;ventualit&eacute; o&ugrave; cela
							s'av&eacute;rerait n&eacute;cessaire, un avis d'information
							sp&eacute;cifique vous sera fourni. Si aucune d&eacute;cision
							d'ad&eacute;quation n'a &eacute;t&eacute; prise pour le pays de
							destination ou si des garanties ad&eacute;quates en
							mati&egrave;re de protection des donn&eacute;es ne sont pas
							disponibles, il vous sera demand&eacute; de donner votre
							consentement avant que nous proc&eacute;dions au transfert.</p>

						<h6>Vous est-il obligatoire de nous fournir vos
							donn&eacute;es ?</h6>

						<p>Oui, parce que si vous ne le faites pas,
							l'universit&eacute; ne sera pas en mesure de terminer les
							activit&eacute;s requises et de traiter les commandes. Toutefois,
							une d&eacute;claration formelle de consentement au traitement des
							donn&eacute;es n'est requise que pour le traitement de l'adresse
							e-mail.</p>

						<h6>Pendant combien de temps vos donn&eacute;es seront-elles
							conserv&eacute;es?</h6>
						<p>Vos donn&eacute;es personnelles seront conserv&eacute;es
							dans la base de donn&eacute;es du Responsable pendant 3 ans. Le
							cas &eacute;ch&eacute;ant, les journaux d'authentification seront
							effac&eacute;s apr&egrave;s 180 jours.</p>

						<h6>Quels sont vos droits et comment pouvez-vous les exercer?</h6>

						<p>Vous aves le droit:</p>

						<ul>
							<li>d'acc&eacute;der &agrave; vos donn&eacute;es
								personnelles;</li>
							<li>d'obtenir la rectification ou l'annulation des
								donn&eacute;es ou la limitation du traitement des
								donn&eacute;es;</li>
							<li>de demander la portabilit&eacute; des donn&eacute;es si
								les donn&eacute;es sont sous forme num&eacute;rique;</li>
							<li>de vous opposer au traitement des donn&eacute;es;</li>
							<li>de d&eacute;poser une plainte aupr&egrave;s des
								autorit&eacute;s de contrôle.</li>
						</ul>
						<p>
							Vous pouvez exercer vos droits en vous adressant au Responsable
							du traitement des donn&eacute;es et/ou au
							D&eacute;l&eacute;gu&eacute; &agrave; la protection des
							donn&eacute;es ; le Responsable du traitement des donn&eacute;es
							doit vous r&eacute;pondre dans les 30 jours suivant la date de
							r&eacute;ception de votre demande (ce d&eacute;lai peut être
							port&eacute; &agrave; 90 jours si la demande est
							particuli&egrave;rement complexe).<br> Si vous estimez que
							vos donn&eacute;es ont &eacute;t&eacute; trait&eacute;es d'une
							mani&egrave;re contraire &agrave; la r&eacute;glementation
							applicable ou si la r&eacute;ponse &agrave; une demande dans
							laquelle vous avez exerc&eacute; un ou plusieurs des droits
							pr&eacute;vus aux articles 15 &agrave; 22 du RGPD n'arrive pas
							dans le d&eacute;lai indiqu&eacute; ou est insatisfaisante, vous
							pouvez contacter l'autorit&eacute; de contrôle ou
							l'autorit&eacute; de protection des donn&eacute;es personnelles
							(en France la Commission Nationale de l'Informatique et des
							Libert&eacute;s – <a href="http://www.cnil.fr/" target="_blank">CNIL</a>).
						</p>

						<h6>Serez-vous soumis &agrave; des processus
							d&eacute;cisionnels automatis&eacute;s?</h6>

						<p>Non, vous ne serez pas soumis &agrave; des d&eacute;cisions
							bas&eacute;es uniquement sur des processus automatis&eacute;s (y
							compris le profilage), sauf si vous avez explicitement
							donn&eacute; votre consentement &agrave; cet effet.</p>

						<h6>Vos donn&eacute;es sont-elles en s&eacute;curit&eacute;?</h6>
						<p>Vos donn&eacute;es sont trait&eacute;es de mani&egrave;re
							l&eacute;gale et correcte et nous adoptons des mesures de
							s&eacute;curit&eacute; appropri&eacute;es destin&eacute;es
							&agrave; empêcher tout acc&egrave;s, divulgation, modification ou
							destruction non autoris&eacute;s de ces donn&eacute;es.</p>
						<p class="text-muted">
							<small>Cette politique est &agrave; jour au 01/11/2019</small>
						</p>
						</ng-container>

						<ng-container *ngSwitchCase="'de'">
						<h5>Information zur Datenverarbeitung im Rahmen des
							Forschungsprojekts MELINDA - Mobility Ecosystem for Low-carbon
							and INnovative moDal shift in the Alps</h5>

						<p>Sehr geehrter Benutzer, gemäß Artikel 13 der EU-Verordnung
							2016/679, auch bekannt als DSGVO, finden Sie im Folgenden die
							Informationen darüber, wie wir Ihre personenbezogenen Daten
							verarbeiten.</p>
						<p>Ihre personenbezogenen Daten werden gemäß den Grundsätzen
							der Ordnungsmäßigkeit, Rechtmäßigkeit, Transparenz und des
							Schutzes der Privatsphäre sowie Ihrer Rechte verarbeitet. Die
							Datenverarbeitung kann manuell oder elektronisch erfolgen und
							automatisierte Verarbeitungsschritte enthalten. Die
							Datenverarbeitung kann jeden Vorgang umfassen, der mit oder ohne
							Verwendung automatisierter Prozesse durchgeführt wird,
							einschließlich Sammlung, Aufzeichnung, Organisation,
							Strukturierung, Speicherung, Ausarbeitung, Auswahl, Sperrung,
							Anpassung, Änderung, Extraktion, Konsultation, Nutzung,
							Übermittlung, Aufbereitung, Übermittlung, Filterung und Löschen.</p>
						<h6>Data Controller</h6>
						<p>
							Verantwortlicher für die Datenverarbeitung – d.h. die Stelle, die
							festlegt, wie und warum Ihre Daten verarbeitet werden - ist die
							Universität von Mailand-Bicocca an der Piazza dell'Ateneo Nuovo
							1, 20126 Mailand, vertreten durch ihre gesetzliche Vertretung,
							Rektorin Giovanna Iannantuoni (im Folgenden: „Controller"). Sie
							können den Controller kontaktieren, indem Sie an die oben
							angegebene Adresse schreiben oder eine E-Mail an <a
								href="mailto:rettorato@unimib.it">rettorato@unimib.it</a> oder <a
								href="mailto:ateneo.bicocca@pec.unimib.it">ateneo.bicocca@pec.unimib.it</a>
							senden.
						</p>

						<h6>Data Protection Officer</h6>
						<p>
							Die Universität von Mailand-Bicocca hat eine
							Datenschutzbeauftragte ernannt, die bei allen Fragen zur
							Verarbeitung personenbezogener Daten und zur Ausübung von Rechten
							aus der DSGVO angerufen werden kann. Die Datenschutzbeauftragte
							ist Frau Maria Bramanti, die unter <a href="mailto:rpd@unimib.it">rpd@unimib.it</a>
							oder <a href="mailto:rpd@pec.unimib.it">rpd@pec.unimib.it</a>
							kontaktiert werden kann.
						</p>

						<h6>Zweck der Erhebung</h6>
						<p>In Übereinstimmung mit Artikel 6 Absatz 1 der DSGVO werden
							Ihre personenbezogenen Daten nach freiwilligem Einwilligen so
							verarbeitet, dass die zuständigen Universitätsabteilungen
							zugewiesene Aufgaben erfüllen können. Im Einzelnen verarbeitet
							die Universität Ihre Daten für:</p>
						<ul>
							<li>Forschung, zum besseren Verständnis der
								Mobilitätsentscheidungen hinsichtlich Reisegewohnheiten,
								Vorlieben und Umweltbewusstsein und statistischer
								Klassifizierung hinsichtlich soziodemografischer
								Grundinformationen (Alter, Geschlecht, Bildung, Beruf, Wohnort
								oder Postleitzahl und Haushaltsgröße).</li>
						</ul>

						<p>Der Controller verarbeitet die E-Mail-Adresse mit Ihrer
							Zustimmung nur zur Zusendung von Informationen über MELINDA
							Entwicklungen und Aktivitäten.</p>
						<h6>Datenweitergabe</h6>
						<p>Ihre Daten werden von MitarbeiterInnen verarbeitet, die den
							Fachbereichen der Universität angehören und vom
							Datenverantwortlichen entsprechend ihren Funktionen und
							Fähigkeiten autorisiert sind. Darüber hinaus kann der für die
							Datenverarbeitung Verantwortliche Ihre personenbezogenen Daten an
							folgende externe Dritte weitergeben, da deren Aktivitäten für die
							Erreichung der oben genannten Zwecke, einschließlich der ihnen
							gesetzlich zugewiesenen Funktionen, von wesentlicher Bedeutung
							sind:</p>
						<ul>
							<li>Insiel s.p.a. (Leader Partner of the Project)</li>
							<li>e-Institute, institute for comprehensive development
								solutions</li>
							<li>Municipality of Maribor</li>
							<li>University of Maribor</li>
							<li>B.A.U.M. Consult GmbH München</li>
							<li>Auvergne Rhône-Alpes Energy Environment Agency</li>
							<li>Lucerne University of Applied Sciences and Arts</li>
							<li>Vorarlberg University of Applied Sciences</li>
							<li>University of Milano-Bicocca</li>
							<li>AustriaTech Ltd. – Federal Agency for Technological
								Measures</li>
							<li>Inter-municipalities Territorial Union of Noncello</li>
							<li>Energie Agentur Ebersberg München GmbH</li>
						</ul>

						<p>Ihre Daten werden nicht in Länder außerhalb der EU oder an
							internationale Organisationen weitergegeben. Für den Fall, dass
							dies erforderlich wird, erhalten Sie einen speziellen Hinweis.
							Für den Fall, dass für das Zielland keine
							Angemessenheitsentscheidung getroffen wurde oder keine
							ausreichenden Garantien hinsichtlich des Datenschutzes vorliegen,
							werden Sie gebeten, Ihre Einwilligung zu erteilen, bevor wir mit
							der Übermittlung fortfahren.</p>
						<h6>Ist Ihre Zustimmung zur Datenverarbeitung zwingend?</h6>
						<p>Ja, andernfalls kann die Universität die erforderlichen
							Aktivitäten nicht ausführen und Forschungsfragen nicht
							bearbeiten. Eine formelle Einverständniserklärung zur
							Datenverarbeitung ist jedoch nur zur Bearbeitung der
							E-Mail-Adresse erforderlich.</p>
						<h6>Wie lange speichern wir Ihre Daten?</h6>
						<p>Ihre persönlichen Daten werden für 3 Jahre in der Datenbank
							des Controllers gespeichert. Sofern vorhanden, werden
							Authentifizierungsprotokolle nach 180 Tagen gelöscht.</p>
						<h6>Was sind Ihre Rechte und wie können Sie sie ausüben?</h6>
						<p>Sie haben folgende Rechte:</p>
						<ul>
							<li>Zugriff auf Ihre persönlichen Daten;</li>
							<li>die Berichtigung oder Löschung von Daten oder die
								Einschränkung der Datenverarbeitung;</li>
							<li>Datenübertragung anfordern, wenn die Daten in digitaler
								Form vorliegen;</li>
							<li>Datenverarbeitung widersprechen;</li>
							<li>Beschwerde bei den Aufsichtsbehörden einreichen.</li>
						</ul>

						<p>Sie können Ihre Rechte ausüben, indem Sie sich an den für
							die Verarbeitung Verantwortlichen und / oder den
							Datenschutzbeauftragten wenden. Der für die Datenverarbeitung
							Verantwortliche muss innerhalb von 30 Tagen nach Eingang Ihrer
							Anfrage auf Ihre Anfrage antworten (dieser Zeitraum kann auf 90
							Tage verlängert werden, wenn die Anfrage besonders komplex ist).</p>
						<p>
							Gegebenenfalls Sie sind der Ansicht, dass Ihre Daten unrechtmäßig
							verarbeitet werden oder wenn gegen zuvor genannten Antwortfristen
							verstoßen wird, können Sie sich an die Aufsichtsbehörde (in
							Deutschland ist das der Bundesbeauftragte für den Datenschutz und
							die Informationsfreiheit, <a href="http://www.bfdi.bund.de"
								target="_blank">http://www.bfdi.bund.de</a>) oder die Behörde
							zum Schutz personenbezogener Daten wenden.
						</p>
						<h6>Kommen automatisierte Entscheidungstechniken zum Einsatz?</h6>
						<p>Nein, Entscheidungen, die ausschließlich auf
							automatisierten Prozessen (einschließlich Profilerstellung)
							beruhen kommen nicht zum Einsatz, es sei denn, Sie haben diesen
							ausdrücklich zugestimmt.</p>
						<h6>Datensicherheit</h6>
						<p>Ihre Daten werden auf rechtmäßige und ordnungsgemäße Weise
							verarbeitet, und wir treffen geeignete Sicherheitsmaßnahmen, um
							einen unbefugten Zugriff, eine unbefugte Weitergabe, Änderung
							oder Zerstörung der Daten zu verhindern.</p>
						<p class="text-muted">
							<small>Diese Datenschutzerklärung wurde zuletzt am
								07/11/2019 aktualisiert</small>
						</p>

						</ng-container>

						<ng-container *ngSwitchCase="'de-at'">
						<h5>Information zur Datenverarbeitung im Rahmen des
							Forschungsprojekts MELINDA - Mobility Ecosystem for Low-carbon
							and INnovative moDal shift in the Alps</h5>

						<p>Sehr geehrter Benutzer, gemäß Artikel 13 der EU-Verordnung
							2016/679, auch bekannt als DSGVO, finden Sie im Folgenden die
							Informationen darüber, wie wir Ihre personenbezogenen Daten
							verarbeiten.</p>
						<p>Ihre personenbezogenen Daten werden gemäß den Grundsätzen
							der Ordnungsmäßigkeit, Rechtmäßigkeit, Transparenz und des
							Schutzes der Privatsphäre sowie Ihrer Rechte verarbeitet. Die
							Datenverarbeitung kann manuell oder elektronisch erfolgen und
							automatisierte Verarbeitungsschritte enthalten. Die
							Datenverarbeitung kann jeden Vorgang umfassen, der mit oder ohne
							Verwendung automatisierter Prozesse durchgeführt wird,
							einschließlich Sammlung, Aufzeichnung, Organisation,
							Strukturierung, Speicherung, Ausarbeitung, Auswahl, Sperrung,
							Anpassung, Änderung, Extraktion, Konsultation, Nutzung,
							Übermittlung, Aufbereitung, Übermittlung, Filterung und Löschen.</p>
						<h6>Data Controller</h6>
						<p>
							Verantwortlicher für die Datenverarbeitung – d.h. die Stelle, die
							festlegt, wie und warum Ihre Daten verarbeitet werden - ist die
							Universität von Mailand-Bicocca an der Piazza dell'Ateneo Nuovo
							1, 20126 Mailand, vertreten durch ihre gesetzliche Vertretung,
							Rektorin Giovanna Iannantuoni (im Folgenden: „Controller"). Sie
							können den Controller kontaktieren, indem Sie an die oben
							angegebene Adresse schreiben oder eine E-Mail an <a
								href="mailto:rettorato@unimib.it">rettorato@unimib.it</a> oder <a
								href="mailto:ateneo.bicocca@pec.unimib.it">ateneo.bicocca@pec.unimib.it</a>
							senden.
						</p>

						<h6>Data Protection Officer</h6>
						<p>
							Die Universität von Mailand-Bicocca hat eine
							Datenschutzbeauftragte ernannt, die bei allen Fragen zur
							Verarbeitung personenbezogener Daten und zur Ausübung von Rechten
							aus der DSGVO angerufen werden kann. Die Datenschutzbeauftragte
							ist Frau Maria Bramanti, die unter <a href="mailto:rpd@unimib.it">rpd@unimib.it</a>
							oder <a href="mailto:rpd@pec.unimib.it">rpd@pec.unimib.it</a>
							kontaktiert werden kann.
						</p>

						<h6>Zweck der Erhebung</h6>
						<p>In Übereinstimmung mit Artikel 6 Absatz 1 der DSGVO werden
							Ihre personenbezogenen Daten nach freiwilligem Einwilligen so
							verarbeitet, dass die zuständigen Universitätsabteilungen
							zugewiesene Aufgaben erfüllen können. Im Einzelnen verarbeitet
							die Universität Ihre Daten für:</p>
						<ul>
							<li>Forschung, zum besseren Verständnis der
								Mobilitätsentscheidungen hinsichtlich Reisegewohnheiten,
								Vorlieben und Umweltbewusstsein und statistischer
								Klassifizierung hinsichtlich soziodemografischer
								Grundinformationen (Alter, Geschlecht, Bildung, Beruf, Wohnort
								oder Postleitzahl und Haushaltsgröße).</li>
						</ul>

						<p>Der Controller verarbeitet die E-Mail-Adresse mit Ihrer
							Zustimmung nur zur Zusendung von Informationen über MELINDA
							Entwicklungen und Aktivitäten.</p>
						<h6>Datenweitergabe</h6>
						<p>Ihre Daten werden von MitarbeiterInnen verarbeitet, die den
							Fachbereichen der Universität angehören und vom
							Datenverantwortlichen entsprechend ihren Funktionen und
							Fähigkeiten autorisiert sind. Darüber hinaus kann der für die
							Datenverarbeitung Verantwortliche Ihre personenbezogenen Daten an
							folgende externe Dritte weitergeben, da deren Aktivitäten für die
							Erreichung der oben genannten Zwecke, einschließlich der ihnen
							gesetzlich zugewiesenen Funktionen, von wesentlicher Bedeutung
							sind:</p>
						<ul>
							<li>Insiel s.p.a. (Leader Partner of the Project)</li>
							<li>e-Institute, institute for comprehensive development
								solutions</li>
							<li>Municipality of Maribor</li>
							<li>University of Maribor</li>
							<li>B.A.U.M. Consult GmbH München</li>
							<li>Auvergne Rhône-Alpes Energy Environment Agency</li>
							<li>Lucerne University of Applied Sciences and Arts</li>
							<li>Vorarlberg University of Applied Sciences</li>
							<li>University of Milano-Bicocca</li>
							<li>AustriaTech Ltd. – Federal Agency for Technological
								Measures</li>
							<li>Inter-municipalities Territorial Union of Noncello</li>
							<li>Energie Agentur Ebersberg München GmbH</li>
						</ul>

						<p>Ihre Daten werden nicht in Länder außerhalb der EU oder an
							internationale Organisationen weitergegeben. Für den Fall, dass
							dies erforderlich wird, erhalten Sie einen speziellen Hinweis.
							Für den Fall, dass für das Zielland keine
							Angemessenheitsentscheidung getroffen wurde oder keine
							ausreichenden Garantien hinsichtlich des Datenschutzes vorliegen,
							werden Sie gebeten, Ihre Einwilligung zu erteilen, bevor wir mit
							der Übermittlung fortfahren.</p>
						<h6>Ist Ihre Zustimmung zur Datenverarbeitung zwingend?</h6>
						<p>Ja, andernfalls kann die Universität die erforderlichen
							Aktivitäten nicht ausführen und Forschungsfragen nicht
							bearbeiten. Eine formelle Einverständniserklärung zur
							Datenverarbeitung ist jedoch nur zur Bearbeitung der
							E-Mail-Adresse erforderlich.</p>
						<h6>Wie lange speichern wir Ihre Daten?</h6>
						<p>Ihre persönlichen Daten werden für 3 Jahre in der Datenbank
							des Controllers gespeichert. Sofern vorhanden, werden
							Authentifizierungsprotokolle nach 180 Tagen gelöscht.</p>
						<h6>Was sind Ihre Rechte und wie können Sie sie ausüben?</h6>
						<p>Sie haben folgende Rechte:</p>
						<ul>
							<li>Zugriff auf Ihre persönlichen Daten;</li>
							<li>die Berichtigung oder Löschung von Daten oder die
								Einschränkung der Datenverarbeitung;</li>
							<li>Datenübertragung anfordern, wenn die Daten in digitaler
								Form vorliegen;</li>
							<li>Datenverarbeitung widersprechen;</li>
							<li>Beschwerde bei den Aufsichtsbehörden einreichen.</li>
						</ul>

						<p>Sie können Ihre Rechte ausüben, indem Sie sich an den für
							die Verarbeitung Verantwortlichen und / oder den
							Datenschutzbeauftragten wenden. Der für die Datenverarbeitung
							Verantwortliche muss innerhalb von 30 Tagen nach Eingang Ihrer
							Anfrage auf Ihre Anfrage antworten (dieser Zeitraum kann auf 90
							Tage verlängert werden, wenn die Anfrage besonders komplex ist).</p>
						<p>
							Gegebenenfalls Sie sind der Ansicht, dass Ihre Daten unrechtmäßig
							verarbeitet werden oder wenn gegen zuvor genannten Antwortfristen
							verstoßen wird, können Sie sich an die Aufsichtsbehörde (in
							Österreich ist das die Datenschutzbehörde, <a
								href="http://www.dsb.gv.at" target="_blank">www.dsb.gv.at</a>)
							oder die Behörde zum Schutz personenbezogener Daten wenden.
						</p>
						<h6>Kommen automatisierte Entscheidungstechniken zum Einsatz?</h6>
						<p>Nein, Entscheidungen, die ausschließlich auf
							automatisierten Prozessen (einschließlich Profilerstellung)
							beruhen kommen nicht zum Einsatz, es sei denn, Sie haben diesen
							ausdrücklich zugestimmt.</p>
						<h6>Datensicherheit</h6>
						<p>Ihre Daten werden auf rechtmäßige und ordnungsgemäße Weise
							verarbeitet, und wir treffen geeignete Sicherheitsmaßnahmen, um
							einen unbefugten Zugriff, eine unbefugte Weitergabe, Änderung
							oder Zerstörung der Daten zu verhindern.</p>
						<p class="text-muted">
							<small>Diese Datenschutzerklärung wurde zuletzt am
								07/11/2019 aktualisiert</small>
						</p>

						</ng-container>

						<ng-container *ngSwitchCase="'de-ch'">
						<h5>Information zur Datenverarbeitung im Rahmen des
							Forschungsprojekts MELINDA - Mobility Ecosystem for Low-carbon
							and INnovative moDal shift in the Alps</h5>

						<p>Sehr geehrter Benutzer, gemäß Artikel 13 der EU-Verordnung
							2016/679, auch bekannt als DSGVO, finden Sie im Folgenden die
							Informationen darüber, wie wir Ihre personenbezogenen Daten
							verarbeiten.</p>
						<p>Ihre personenbezogenen Daten werden gemäß den Grundsätzen
							der Ordnungsmäßigkeit, Rechtmäßigkeit, Transparenz und des
							Schutzes der Privatsphäre sowie Ihrer Rechte verarbeitet. Die
							Datenverarbeitung kann manuell oder elektronisch erfolgen und
							automatisierte Verarbeitungsschritte enthalten. Die
							Datenverarbeitung kann jeden Vorgang umfassen, der mit oder ohne
							Verwendung automatisierter Prozesse durchgeführt wird,
							einschließlich Sammlung, Aufzeichnung, Organisation,
							Strukturierung, Speicherung, Ausarbeitung, Auswahl, Sperrung,
							Anpassung, Änderung, Extraktion, Konsultation, Nutzung,
							Übermittlung, Aufbereitung, Übermittlung, Filterung und Löschen.</p>
						<h6>Data Controller</h6>
						<p>
							Verantwortlicher für die Datenverarbeitung – d.h. die Stelle, die
							festlegt, wie und warum Ihre Daten verarbeitet werden - ist die
							Universität von Mailand-Bicocca an der Piazza dell'Ateneo Nuovo
							1, 20126 Mailand, vertreten durch ihre gesetzliche Vertretung,
							Rektorin Giovanna Iannantuoni (im Folgenden: „Controller"). Sie
							können den Controller kontaktieren, indem Sie an die oben
							angegebene Adresse schreiben oder eine E-Mail an <a
								href="mailto:rettorato@unimib.it">rettorato@unimib.it</a> oder <a
								href="mailto:ateneo.bicocca@pec.unimib.it">ateneo.bicocca@pec.unimib.it</a>
							senden.
						</p>

						<h6>Data Protection Officer</h6>
						<p>
							Die Universität von Mailand-Bicocca hat eine
							Datenschutzbeauftragte ernannt, die bei allen Fragen zur
							Verarbeitung personenbezogener Daten und zur Ausübung von Rechten
							aus der DSGVO angerufen werden kann. Die Datenschutzbeauftragte
							ist Frau Maria Bramanti, die unter <a href="mailto:rpd@unimib.it">rpd@unimib.it</a>
							oder <a href="mailto:rpd@pec.unimib.it">rpd@pec.unimib.it</a>
							kontaktiert werden kann.
						</p>

						<h6>Zweck der Erhebung</h6>
						<p>In Übereinstimmung mit Artikel 6 Absatz 1 der DSGVO werden
							Ihre personenbezogenen Daten nach freiwilligem Einwilligen so
							verarbeitet, dass die zuständigen Universitätsabteilungen
							zugewiesene Aufgaben erfüllen können. Im Einzelnen verarbeitet
							die Universität Ihre Daten für:</p>
						<ul>
							<li>Forschung, zum besseren Verständnis der
								Mobilitätsentscheidungen hinsichtlich Reisegewohnheiten,
								Vorlieben und Umweltbewusstsein und statistischer
								Klassifizierung hinsichtlich soziodemografischer
								Grundinformationen (Alter, Geschlecht, Bildung, Beruf, Wohnort
								oder Postleitzahl und Haushaltsgröße).</li>
						</ul>

						<p>Der Controller verarbeitet die E-Mail-Adresse mit Ihrer
							Zustimmung nur zur Zusendung von Informationen über MELINDA
							Entwicklungen und Aktivitäten.</p>
						<h6>Datenweitergabe</h6>
						<p>Ihre Daten werden von MitarbeiterInnen verarbeitet, die den
							Fachbereichen der Universität angehören und vom
							Datenverantwortlichen entsprechend ihren Funktionen und
							Fähigkeiten autorisiert sind. Darüber hinaus kann der für die
							Datenverarbeitung Verantwortliche Ihre personenbezogenen Daten an
							folgende externe Dritte weitergeben, da deren Aktivitäten für die
							Erreichung der oben genannten Zwecke, einschließlich der ihnen
							gesetzlich zugewiesenen Funktionen, von wesentlicher Bedeutung
							sind:</p>
						<ul>
							<li>Insiel s.p.a. (Leader Partner of the Project)</li>
							<li>e-Institute, institute for comprehensive development
								solutions</li>
							<li>Municipality of Maribor</li>
							<li>University of Maribor</li>
							<li>B.A.U.M. Consult GmbH München</li>
							<li>Auvergne Rhône-Alpes Energy Environment Agency</li>
							<li>Lucerne University of Applied Sciences and Arts</li>
							<li>Vorarlberg University of Applied Sciences</li>
							<li>University of Milano-Bicocca</li>
							<li>AustriaTech Ltd. – Federal Agency for Technological
								Measures</li>
							<li>Inter-municipalities Territorial Union of Noncello</li>
							<li>Energie Agentur Ebersberg München GmbH</li>
						</ul>

						<p>Ihre Daten werden nicht in Länder außerhalb der EU oder an
							internationale Organisationen weitergegeben. Für den Fall, dass
							dies erforderlich wird, erhalten Sie einen speziellen Hinweis.
							Für den Fall, dass für das Zielland keine
							Angemessenheitsentscheidung getroffen wurde oder keine
							ausreichenden Garantien hinsichtlich des Datenschutzes vorliegen,
							werden Sie gebeten, Ihre Einwilligung zu erteilen, bevor wir mit
							der Übermittlung fortfahren.</p>
						<h6>Ist Ihre Zustimmung zur Datenverarbeitung zwingend?</h6>
						<p>Ja, andernfalls kann die Universität die erforderlichen
							Aktivitäten nicht ausführen und Forschungsfragen nicht
							bearbeiten. Eine formelle Einverständniserklärung zur
							Datenverarbeitung ist jedoch nur zur Bearbeitung der
							E-Mail-Adresse erforderlich.</p>
						<h6>Wie lange speichern wir Ihre Daten?</h6>
						<p>Ihre persönlichen Daten werden für 3 Jahre in der Datenbank
							des Controllers gespeichert. Sofern vorhanden, werden
							Authentifizierungsprotokolle nach 180 Tagen gelöscht.</p>
						<h6>Was sind Ihre Rechte und wie können Sie sie ausüben?</h6>
						<p>Sie haben folgende Rechte:</p>
						<ul>
							<li>Zugriff auf Ihre persönlichen Daten;</li>
							<li>die Berichtigung oder Löschung von Daten oder die
								Einschränkung der Datenverarbeitung;</li>
							<li>Datenübertragung anfordern, wenn die Daten in digitaler
								Form vorliegen;</li>
							<li>Datenverarbeitung widersprechen;</li>
							<li>Beschwerde bei den Aufsichtsbehörden einreichen.</li>
						</ul>

						<p>Sie können Ihre Rechte ausüben, indem Sie sich an den für
							die Verarbeitung Verantwortlichen und / oder den
							Datenschutzbeauftragten wenden. Der für die Datenverarbeitung
							Verantwortliche muss innerhalb von 30 Tagen nach Eingang Ihrer
							Anfrage auf Ihre Anfrage antworten (dieser Zeitraum kann auf 90
							Tage verlängert werden, wenn die Anfrage besonders komplex ist).</p>
						<p>
							Gegebenenfalls Sie sind der Ansicht, dass Ihre Daten unrechtmäßig
							verarbeitet werden oder wenn gegen zuvor genannten Antwortfristen
							verstoßen wird, können Sie sich an die Aufsichtsbehörde (in der
							Schweiz ist das der Eidgenössische Datenschutz- und
							Öffentlichkeitsbeauftragte, <a href="http://www.edoeb.admin.ch"
								target="_blank">http://www.edoeb.admin.ch</a>) oder die Behörde
							zum Schutz personenbezogener Daten wenden.
						</p>
						<h6>Kommen automatisierte Entscheidungstechniken zum Einsatz?</h6>
						<p>Nein, Entscheidungen, die ausschließlich auf
							automatisierten Prozessen (einschließlich Profilerstellung)
							beruhen kommen nicht zum Einsatz, es sei denn, Sie haben diesen
							ausdrücklich zugestimmt.</p>
						<h6>Datensicherheit</h6>
						<p>Ihre Daten werden auf rechtmäßige und ordnungsgemäße Weise
							verarbeitet, und wir treffen geeignete Sicherheitsmaßnahmen, um
							einen unbefugten Zugriff, eine unbefugte Weitergabe, Änderung
							oder Zerstörung der Daten zu verhindern.</p>
						<p class="text-muted">
							<small>Diese Datenschutzerklärung wurde zuletzt am
								07/11/2019 aktualisiert</small>
						</p>

						</ng-container>

					</div>

				</div>

				<div class="row">
					<div class="col text-center">
						<button class="btn btn-primary" (click)="accept()">{{
							"PRIVACY_POLICY.ACCEPT" | translate }}</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
