<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">{{ 'SURVEY_INTRO.TITLE' | translate }}</h1>
		<p class="lead">The <strong>MELINDA</strong> - <strong>M</strong>obility <strong>E</strong>cosystem
		for <strong>L</strong>ow-carbon and <strong>IN</strong>novative mo<strong>D</strong>al
		shift in the <strong>A</strong>lps &ndash; <strong>project</strong>
		wants to generate a better understanding of mobility habits and
		preferences of people's daily lives.</p>
		
		<hr class="my-4">
		
		<p>With this survey, we wish to collect your attitudes and give
		you some tips on how to deal with the environmental challenges that we
		all must face urgently.</p>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="col">
			<div class="highlighted-panel p-4">
				<div class="row">
				
					<div class="col">
						
						<p class="text-center text-primary"><strong>This survey only requires 7-8 minutes of your time.</strong></p>
						
						<h4>Legal Disclaimer</h4>
						<p>You are invited to participate in a research survey, done by the
							MELINDA Project, particularly run by the University of Milano-Bicocca.
							Your participation in this study is completely voluntary and anonymous.
							You will not be asked to state your name.</p>
						<p>The collected data will be stored on secure servers located in
							the EU and processed in accordance to GDPR.</p>
						
						<p>To better understand people mobility choices, we will ask you a
							few questions about your travel habits, preferences, environmental
							awareness and for statistical classification purposes some basic
							socio-demographic information (age, gender, education, occupation,
							postal code and household dimension). Your email address, if you will
							provide it to us (is not compulsory), will be stored separately from
							the answers and used only to communicate you project's developments.
							The information collected may be used by selected research personnel
							from project partners in strict adherence to measures protecting
							personal identity. The aggregated findings of the study may be
							published and/or presented at meetings.</p>
						
						<p>
							If you have any further questions about this project or if you have a
							research-related query, you may contact Simone Caiello at <a href="mailto:{{ contactEmail }}">{{ contactEmail }}</a>.
						</p>
						
						<p><strong>By flagging the Privacy box below</strong> you are indicating that you
							have read and understood this consent form, that you are at least 16
							years old and agree to participate in this research study.</p>
						
					</div>
				
				</div>
				
				<div class="row">
					<div class="col-12 col-sm-6 text-center text-sm-left mt-3">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="1" id="privacy-flag" [(ngModel)]="privacyAccepted"> <label class="form-check-label" for="privacy-flag"><strong>I accept the privacy policy</strong></label>
						</div>
						<p class="privacy-policy-show-link"><a href="#privacy-policy" class="text-primary" (click)="showPolicy()">Show privacy policy</a></p>
					</div>
					<div class="col-12 col-sm-6 text-center text-sm-right mt-3">
						<button class="btn btn-primary btn-block d-sm-none" [disabled]="!privacyAccepted" (click)="checkPrivacy()">Start survey</button>
						<button class="btn btn-primary d-none d-sm-inline-block" [disabled]="!privacyAccepted" (click)="checkPrivacy()">Start survey</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-privacy-policy id="privacy-policy" *ngIf="policyShown" (privacyAcceptance)="onPrivacyAcceptance($event)"></app-privacy-policy>

