<h1>{{ 'SURVEY_INTRO.TITLE' | translate }}</h1>

<h2>The MELINDA - Mobility Ecosystem for Low-carbon and INnovative
	moDal shift in the Alps &ndash; project wants to generate a better
	understanding of mobility habits and preferences of people's daily
	lives.</h2>

<h2>With this survey, we wish to collect your attitudes and give you
	some tips on how to deal with the environmental challenges that we all
	must face urgently.</h2>

<p class="text-center">This survey only requires 7-8 minutes of your time.</p>

<h3>Legal Disclaimer</h3>
<p>You are invited to participate in a research survey, done by the MELINDA
Project, particularly run by the University of Milano-Bicocca. Your
participation in this study is completely voluntary and anonymous. You
will not be asked to state your name.</p>
<p>The collected data will be stored on secure servers located in the EU and
processed in accordance to GDPR.</p>

<p>To better understand people mobility choices, we will ask you a few
questions about your travel habits, preferences, environmental awareness
and for statistical classification purposes some basic socio-demographic
information (age, gender, education, occupation, postal code and
household dimension). Your email address, if you will provide it to us
(is not compulsory), will be stored separately from the answers and used
only to communicate you project's developments. The information
collected may be used by selected research personnel from project
partners in strict adherence to measures protecting personal identity.
The aggregated findings of the study may be published and/or presented
at meetings.</p>

<p>If you have any further questions about this project or if you have a
research-related query, you may contact Simone Caiello at
<a href="mailto:simone.caiello@unimib.it">simone.caiello@unimib.it.</a>.</p>

<p>By flagging the Privacy box below you are indicating that you have read
and understood this consent form, that you are at least 16 years old and
agree to participate in this research study.</p>

<div class="row">
	<div class="col">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="1" id="privacy-flag" [(ngModel)]="privacyAccepted">
			<label class="form-check-label" for="privacy-flag">Privacy flag</label>
		</div>
	</div>
	<div class="col text-right">
		<button class="btn btn-primary" [disabled]="!privacyAccepted" (click)="checkPrivacy()">Next</button>
	</div>
</div>
