@import 'bootstrap-variables';
@import '~bootstrap/scss/bootstrap';

main .highlighted-panel {
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.footer {
	background-color: #f5f5f5;
	
	> .container > .row > .col {
		padding: 0;
	}
}

code {
	font-size: 80%;
}

body {
	padding-top: 56px;
	
	background-image: url('assets/img/melinda-home.jpg');
	background-repeat: no-repeat;
	background-position: center 80px;
	background-color: white;
	background-size: 100% auto;
	background-attachment: fixed;
	
	@media (max-width: 600px){
		.container {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	
	.jumbotron {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}
	
	.survey-progress {
		width: 100%;
	}
	
	input[type="checkbox"]:disabled ~ span {
	    color: #999999;
	}
}

@include media-breakpoint-down(xs) {
	.xs-text-uppercase {
		text-transform: uppercase;
	}
	
	.xs-text-bold {
		font-weight: bold;
	}
	
	.xs-bg-gray-200 {
		background-color: $gray-200;
	}
}
