main > .container {
	padding: 15px 30px;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.footer {
	background-color: #f5f5f5;
	
	> .container {
		padding-right: 15px;
		padding-left: 15px;
	}
}

code {
	font-size: 80%;
}

body {
	padding-top: 56px;
	
	background-image: url('assets/img/melinda-home.jpg');
	background-repeat: no-repeat;
	background-position: center 80px;
	background-color: white;
	background-size: 100% auto;
	background-attachment: fixed;
}